h1 {
  //color      : violet;
  text-align : center;
  font-size  : 1.5em;
}

section#photoDnD {
  width  : 98%;
  margin : 0 auto;
  /* style global de la liste non ordonné */
  //border : 1px solid red;

  ul {
    //padding-start : 0;
    -webkit-padding-before : 0;
    -webkit-padding-start  : 0;
    -webkit-padding-end    : 0;
    -webkit-padding-after  : 0;
  }

  li {
    margin-bottom : 10px;
  }

  ul#list-photos {
    //border          : 1px solid blue;
    width           : 100%;
    list-style      : none;
    //height     : 100%;
    display         : flex;
    justify-content : space-around;
    flex-wrap       : wrap-reverse;
    //position: relative;
  }

  /* style des éléments de la liste */
  #list-photos li {
    border                : 2px solid #777;
    -webkit-border-radius : 7px;
    -moz-border-radius    : 7px;
    border-radius         : 7px;
    padding               : 5px 4px;
    cursor                : pointer;
    width                 : 92px;
    //height                : 94px;
    //float                 : left;
    //margin-right          : 5px;
    background            : #fff;
    //color                 : #212326;
    color                 : red;
    font-size             : 12px;
    box-shadow            : 3px 3px 10px #eee;
    &:active {
      cursor : move;
    }
  }
  /* style de l'élément fantome, qui apparait losque que l'on bouge un élément */
  ul#list-photos li.highlight {
    background : #f2f2f2;
    border     : 2px dashed #212326;
  }
}
