/* --clean-css Option de less pour minifier */
/* (Commentaire CSS visible ds CSS si pas minifié, les autres invisibles)*/
body {
  padding-bottom: 20px;
  color: #010BFF;
  margin: 0 auto;
  width: 100%;
  background-color: cornsilk;
  font-size: 1.5em;
  font-family: arial, Times New Roman, serif;
}
.element_menu ul {
  display: flex;
  margin-top: 20px;
}
.element_menu ul li {
  margin: 0 2%;
  padding: 5px 1%;
  border: 1px solid orange;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  background-color: #fff;
  list-style-type: none;
}
.animelementin {
  transition: all 0.25s ease-in-out;
}
.animelementout {
  transition: all 0.5s ease-in-out;
}
a {
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}
a:hover {
  color: red;
  text-decoration: none;
  text-shadow: 0 0 5px red;
  transition: all 0.25s ease-in-out;
}
hr {
  line-height: .5em;
}
footer {
  background-color: #fff3c3;
  margin: 0 1%;
  border-top: 1px solid black;
  color: grey;
  text-align: right;
  font-style: italic;
  font-size: .7em;
}
td {
  font-size: 1.2em;
  padding: 1px 5px;
}
h1 {
  text-align: center;
  font-size: 1.5em;
}
section#photoDnD {
  width: 98%;
  margin: 0 auto;
  /* style global de la liste non ordonné */
  /* style des éléments de la liste */
  /* style de l'élément fantome, qui apparait losque que l'on bouge un élément */
}
section#photoDnD ul#list-photos {
  border: 1px solid red;
  list-style: none;
  display: flex;
}
section#photoDnD #list-photos li {
  border: 2px solid #777;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  padding: 5px 4px;
  cursor: move;
  width: 92px;
  height: 94px;
  margin-right: 5px;
  background: #fff;
  color: #212326;
  font-size: 12px;
  box-shadow: 3px 3px 10px #eee;
}
section#photoDnD ul#list-photos li.highlight {
  background: #f2f2f2;
  border: 2px dashed #212326;
}
#projet {
  width: 98%;
  line-height: 1;
  font-size: 1em;
  text-align: justify;
  margin: 0 1%;
}
#projet #mytext {
  margin: 7px auto;
  text-align: center;
}
#projet #main {
  display: flex;
  justify-content: space-around;
  border: 2px solid red;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  text-align: center;
}
#projet #main section {
  -webkit-flex: 1;
  /* Safari 6.1+ */
  -ms-flex: 1;
  /* IE 10 */
  flex: 1;
}
#projet header {
  background: orange;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  height: 25px;
}
#projet h1 {
  padding: 3px 5px;
  border-radius: 7px;
  text-align: center;
  font-size: 1.2em;
  margin: 0;
  height: 555px;
  transition: all 2s ease-in-out;
}
#projet h1:hover {
  color: red;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
#projet h1:nth-child(2) {
  font-size: 1em;
  display: none;
  vertical-align: middle;
}
#projet h1 #blocliste #liste {
  list-style-type: none;
  margin: 0 auto 20px;
  padding: 0 5px;
  width: 70%;
}
#projet h1 #blocliste #liste li {
  transition: all 0.5s ease-in-out;
  background: cornsilk;
  margin: 10px;
  padding: 10px 1em 0 2em;
  font-size: 1.2em;
  height: 40px;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#projet h1 #blocliste #liste li:hover {
  transition: all 0.25s ease-in-out;
  color: green;
  background: yellow;
}
#projet h1 #blocliste #liste li span {
  position: absolute;
  margin-left: -1.2em;
}
#projet h1 #bloctableau .current-row {
  /*background-color : #B24926;*/
  /*color : #FFF;*/
}
#projet h1 #bloctableau .current-col {
  /*background-color : #1b1b1b;*/
  /*color            : #FFF;*/
}
#projet h1 #bloctableau .tbl-qa {
  width: 100%;
  font-size: 0.9em;
  /*background-color : #f5f5f5;*/
}
#projet h1 #bloctableau .tbl-qa th.table-header {
  text-align: left;
  padding: 0 10px 10px 10px;
}
#projet h1 #bloctableau .tbl-qa .table-row td {
  padding: 5px 10px;
  background-color: #FDFDFD;
}
