/* --clean-css Option de less pour minifier */
/* (Commentaire CSS visible ds CSS si pas minifié, les autres invisibles)*/
body {
  padding-bottom: 20px;
  color: #010BFF;
  margin: 0 auto;
  width: 100%;
  background-color: cornsilk;
  font-size: 1.5em;
  font-family: arial, Times New Roman, serif;
}
.element_menu ul {
  display: flex;
  margin-top: 20px;
}
.element_menu ul li {
  margin: 0 2%;
  padding: 5px 2%;
  border: 1px solid grey;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #fff;
  list-style-type: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-shadow: 0 0 5px red;
}
hr {
  line-height: .5em;
}
#container,
#projet {
  margin: 0 1%;
  width: 98%;
  text-align: justify;
}
#main {
  text-align: center;
}
footer {
  background-color: #fff3c3;
  margin: 0 1%;
  border-top: 1px solid black;
  color: grey;
  text-align: right;
  font-style: italic;
  font-size: .7em;
}
footer p {
  margin-top: -2px;
}
td {
  font-size: 1.2em;
  padding: 1px 5px;
}
#container.center {
  text-align: center;
}
#projet h1 {
  font-size: 1.2em;
  margin-top: 0;
}
#projet h1:nth-child(2) {
  display: none;
}
